BOT_TOKEN=
ADMIN_IDS=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

DAV_URL=
DAV_USERNAME=
DAV_PASSWORD=
DAV_ROOT=/telegram-resource-bot

BOT_NAME=资源取件机器人

# MTProto 自动扫描频道历史
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_SESSION=
